<configuration scan="true">
    <appender name="DebugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/charge-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/charge-debug-%d{MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{36}] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/charge-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/charge-error-%d{MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{36}] %-5level - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- 日志级别 -->
    <logger name="com" level="DEBUG">
        <appender-ref ref="DebugFile"/>
        <appender-ref ref="ErrorFile"/>
    </logger>

    <logger name="org.springframework" level="DEBUG">
        <appender-ref ref="DebugFile"/>
    </logger>

</configuration>
